/* Position and sizing of burger button */

.burger-wrapper {
    display: none;
}

.bm-burger-button {
    position: fixed;
    width: 26px;
    height: 20px;
    right: 26px;
    top: 30px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #029491;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #016a69;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    position: absolute;
    transform: scale(2);
    right:  26px !important;
    top:  30px !important;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #ffffff;
    width: 26px;
    height: 20px;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100vh;
    top: 0px;
    
  }
  
  /* General sidebar styles */
  .bm-menu {
    width: 100%;
    background: #029491;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    color: #fff;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    text-align: center;
    display: inline-block;
    padding: 1rem 0;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .burger-login {
    margin-top: 20rem;
    p {
        color: #ffffff5b;
    }
  }

  .burger-logo {
    position: absolute;
    top: -38px;
    left: 15px;
  }

  @media screen and (max-width: 900px) {
    .burger-wrapper {
        display: block;
    }
  }