.main__our-rates-section {
    .main__our-rates-section__header {
        font-size: 2.8rem;
        font-family: 'Ferry';
    }
}


@media screen and (max-width: 850px) {
    .main__our-rates-section {
        padding: 1rem;
        .main__our-rates-section__header {
            font-size: 1.5rem;
        }
    }
}