.form {
    display: flex;
    position: relative;
    max-width: 20rem;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    filter: drop-shadow(2px 2px 5px #dbdbdb);

    .form-header {
        display: flex;
        gap: 1rem;

        .form-header__log-in {
            flex: 1;
            padding: .5rem 1rem;
            border-style: none;
            border-bottom: solid 2px #029491;
            background-color: #fff;
            color: #029491;
        }

        .form-header__sign-up {
            @extend .form-header__log-in;
            color: rgb(200, 200, 200);
            border-bottom: solid 2px rgb(200, 200, 200);
        }
    }

    .inputs-area {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        color: rgb(150, 150, 150);

        .inputs-area__input {
            padding: .5rem 1rem;
        }

        .inputs-area__password-recovery {
            text-align: center;
            margin: 0;
            color: #5970FF;
        }

        .login-with-label {
            margin: 1rem 0 0 0;
        }

        .login-with {
            display: flex;
            
            .login-with__btn {
                min-height: 2rem;
                background-color: #fff;
                padding: .2rem .8rem;
                border-radius: .3rem;
                margin-right: .5rem;
                border: solid 1px #596fff88;
            }
        }
    }
    .lock {
        position: absolute;
        top: -3rem;
        left: -3rem;
    }
}
