.main {
    max-width:  1440px;
    margin: 0 auto;
    margin-bottom: 10rem;
    
    .main__description-section{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        
        .main__description-section__description{
            display: flex;
            flex-direction: column;
            align-items: flex-start;


            .main__description-section__description__header {
                font-family: 'Ferry';
                text-align: start;
                font-size: 3.75rem;
                margin: 0;

            }
            .main__description-section__description__desc {
                text-align: start;
                font-size: 1.25rem;
                margin-bottom: 4rem;
            } 
        } 

        .main__description-section__description__human-vector {
            padding: 1.2rem;
            
            .main__description-section__description__human-vector {
                transform: scale(1.1);
            }
        }
        
    }
}