.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:  1440px;
    margin: 0 auto;
    padding: 0 1rem;

    a {
        flex: 1;
    }


    .header__navigation__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1.5;

        .header__navigation {        
            .header__navigation__conteiner {
                display: flex;
                width: 200px;
                justify-content: space-between;
                list-style: none;
                padding: 0;
                margin: 0;
    
                li {
                    display: inline-block;
                   
                }
            }
        }
    }

    

    .header__login-container {
        display: flex;
        justify-content: space-around;
        

        .header__login-container__login-btn {
            background-color: #7CE3E1;
            border: none;
            padding: .4rem 1rem;
            border-radius: .3rem;
            cursor: pointer;
        }

        .line {
            border-left: solid 2px #029491;
            margin: 0 1rem;
        }

        .header__login-container__singin-btn {
            @extend .header__login-container__login-btn;
            background-color: #7ce3e100;
            color: rgb(194, 194, 194);
            padding: 0;
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 900px) {
    .header {
        .header__navigation__wrapper {
            justify-content: flex-start;
            .header__navigation {  

                .header__navigation__conteiner {
                    display: none;
                }
            }

        }
    }
}

