.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:  1440px;
    margin: 0 auto;


    .header__navigation__conteiner {
        list-style: none;
        
        li {
            display: inline-block;
            padding: 0 10px;
        }
    }

    .header__login-container {
        display: flex;
        justify-content: space-around;
        

        .header__login-container__login-btn {
            background-color: #7CE3E1;
            border: none;
            padding: .4rem 1rem;
            border-radius: .3rem;
            cursor: pointer;
        }

        .line {
            border-left: solid 2px #029491;
            margin: 0 1rem;
        }

        .header__login-container__singin-btn {
            @extend .header__login-container__login-btn;
            background-color: #7ce3e100;
            color: rgb(194, 194, 194);
            padding: 0;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 800px) {
    .header{
        .header__navigation__conteiner {
            display: none;
        }

        .header__login-container {
            display: none;
        }
    }
}
