.search-form {
    max-width: fit-content;
    display: flex;
    position: relative;
    gap: 1rem;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 1rem;
    filter: drop-shadow(2px 2px 5px #cfcfcf);

    .search-form__inputs {
        display: flex;

        gap: 1rem;
        flex-direction: column;

        .all-type-of-inputs {
            padding: .5rem;
            min-height: 2.5rem;
            border-radius: .5rem;
            border-style: none;
            background-color: #fff;
            border: solid 1px #C7C7C7;
            box-sizing: border-box;

            &:focus-visible {
                outline: none; 
                border-color: rgb(23, 139, 255);
            }
        }

        .req {
            position: relative;
            top: -1px;
        }
    } 
}

@media screen and (max-width: 850px) {
    .search-form {
        flex-direction: column;
        
        .search-form__inputs {
            .all-type-of-inputs {
                max-width: none;
            }
        }

        .search-form__btn__wrapper {
            position: static;
            text-align: center;
        }
    }
}