.btn {
    background-color: #5970FF;
    border-style: none;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.3rem;
}

.btn-rate {
    @extend .btn;
    margin: 1rem;
}

.btn-rate-selected {
    @extend .btn;
    margin: 1rem;
    color: black;
    background-color: #D2D2D2;
}