.results-posts-header {
    font-size: 1.9rem;
    font-family: 'Ferry';
}

.results-posts__content {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .results-posts__content__card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #fff;
        filter: drop-shadow(2px 2px 5px rgb(193, 193, 193));
        border-radius: 1rem;
        padding: 1rem;

        .results-posts__content__card__header {
            margin: 1rem 0 0 0;
        }

        .results-posts__content__card__post-type {
            padding: 0.5rem 1rem;
            border-radius: 0.2rem;
            background-color: #FFB64F;
            max-width: fit-content;
        }

        .results-posts__content__card__image {
            content: '';
            border-radius: 1rem;
            height: 200px;
            max-width: 100%;
            max-height: 200px;
            background-image: url('../../../../../../assets/sergei-a--heLWtuAN3c-unsplash.jpg');
            background-size: cover;
        }

        .results-posts__content__card__content {
                word-wrap: break-word;
        }
    }
}

.load-more__wrapper {
    display: flex;
}

@media screen and (max-width: 1100px) {
    .results-posts-header {
        font-size: 1.5rem;
        font-family: 'Ferry';
    }

    .results-posts__content {
        margin: 0 auto;
        max-width: 500px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        .results-posts__content__card {
            display: flex;
            max-width: 500px;
            flex-direction: column;
            background-color: #fff;
            filter: drop-shadow(2px 2px 5px rgb(193, 193, 193));
            border-radius: 1rem;
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .results-posts__content {
        .results-posts__content__card {
            max-width: 310px;
        }
    }
}